<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb289914008898201</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.235633887075-jbnn1bhja1fn2mlqtn5297f671md8prc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>payment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bobaps.demo.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>bucCwAHX8jWu1MwCYwrZ_FTtMdDn_QTUaBXsI</string>
	<key>FacebookAppID</key>
	<string>289914008898201</string>
	<key>FacebookDisplayName</key>
	<string>BOB</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Used to select a photo for your Profile Picture</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Requires GPS to get your location for delivery orders</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Requires GPS to get your location for delivery orders</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires GPS to get your location for delivery orders</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) Used to select a photo for your Profile Picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>IBMPlexSans-Bold.otf</string>
		<string>IBMPlexSans-Light.otf</string>
		<string>IBMPlexSans-Medium.otf</string>
		<string>IBMPlexSans-Regular.otf</string>
		<string>IBMPlexSans-SemiBold.otf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>OpenSansBold.ttf</string>
		<string>OpenSansLight.ttf</string>
		<string>OpenSansRegular.ttf</string>
		<string>OpenSansSemibold.ttf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-SemiBold.otf</string>
		<string>SFProDisplayBlack.otf</string>
		<string>SFProDisplayBold.otf</string>
		<string>SFProDisplayHeavy.otf</string>
		<string>SFProDisplayLight.otf</string>
		<string>SFProDisplayMedium.otf</string>
		<string>SFProDisplayRegular.otf</string>
		<string>SFProDisplaySemibold.otf</string>
		<string>SFProDisplayThin.otf</string>
		<string>SFProDisplayUltralight.otf</string>
		<string>Graphology_Bold_Oblique.otf</string>
		<string>Graphology_Light.otf</string>
		<string>Graphology_Medium.otf</string>
		<string>Graphology_Regular.otf</string>
		<string>Graphology_Semi-bold_Oblique.otf</string>
		<string>GraphologyLight.ttf</string>
		<string>GraphologyMedium.ttf</string>
		<string>GraphologyRegular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
